@charset "UTF-8";

body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: dimgray;
            margin: 0px;
        }
        header{
            background-color: rgb(255, 255, 255);
            padding: 10px;
            margin: 10px;
            border-radius: 8px;
            

        }

        nav > a:hover {
            text-decoration: underline;
        }
        nav {

            background-color: rgba(145, 128, 128, 0.74);
            padding: 3px;
            box-shadow:2px 2px 1px rgba(0, 0, 0, 0.377);
           

        }

        nav > article {
            text-decoration: underline;
        }

        main {
            background-color: white;
            padding: 10px;
            margin: 10px;
            border-radius: 8px;
            box-shadow: 3px 4px 2px 0px rgba(0, 0, 0, 0.26);
        }

        nav > a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-weight: bold;
            margin-right: 30px;
        }
        article {
            background-color: lightgray;
            padding: 10px;
        }
        article > aside {
            background-color: rgb(133, 111, 111);
            
        }

        footer {
            background-color: black;
            color: white;
            text-align: center;
            padding: 2px;
            margin: 0px;
        }

        footer > p {
            margin:0px;
        }

        div#bola {
            padding: 10px;
            width: 100px;
            height: 100px;
            background-color: royalblue;
            margin: 10px auto;
            border-radius: 100%;
            box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.377);
        }
        