@charset "UTF-8";

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
 background-color: rgb(180, 180, 59);

}

main{

    background-color: rgb(66, 73, 110);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(83, 83, 57, 0.363);
    width: 300px;
    padding: 5px;
    margin: auto;

}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 3px 3px 3px rgba(6, 6, 150, 0.363);
    color: rgb(184, 87, 87);
    

}

h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}